/*---      Reset     -----------------------------------------------------*/
html { height: 100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 10px; color: #333; font-family: "sans-serif"; background: #fff; }
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
fieldset, img { border: 0; }

/*在ie6下面，只要给插入图片加了链接，就会出现小边框*/
img { display: block; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em { font-style: normal; }
input, button, select, textarea { outline: none; }
input[type=text], input[type=button], input[type=submit], input[type=date], button, select, textarea { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; }

/*input[readonly=readonly]{color: #333;}*/
textarea { resize: none; padding: 0; }
i, s { font-style: normal; text-decoration: none; }
a { color: #333333; text-decoration: none; }
a:hover { text-decoration: none; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.floatL { float: left; }
.floatR { float: right; }

/* 设置图片视频等自适应调整 */
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ }
video embed, video object, video iframe { width: 100%; height: auto; }

/*---      Global-Css     -----------------------------------------------------*/
.txtCen { text-align: center; }
.txtLeft { text-align: left; }
.txtRight { text-align: right; }
.verMid { vertical-align: middle; }
.marginAuto { margin: 0 auto; }
.overHidden { overflow: hidden; }
.hidden { display: none; }
.displayB { display: block; }
.displayl-b { display: inline-block; }